body {
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

h1 {
    color: #d784c9;
}

p {
    font-size: 18px;
    color: #555;
}
img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
